---
import '../../styles/global.css';
import DashboardComponent from '../../components/admin/Dashboard';
import AdminLayout from '../../components/admin/AdminLayout';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Dashboard - Bitsec Admin</title>
	</head>
	<body>
		<AdminLayout client:only="react">
			<DashboardComponent client:only="react" />
		</AdminLayout>
	</body>
</html>
